@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

:root {
    --primario: #3c55bd;
}

@font-face {
    font-family: "EmojiOneColor";
    font-weight: normal;
    src: url("../fonts/EmojiOneColor.otf");
}

body {
    /* font-family:'Times New Roman', Times, serif !important; */
    font-family: sans-serif !important;
    font-smooth: none;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    background-image: url(../img/large-triangles-turquoise.svg);
}
button span.emoji {
    font-family: "EmojiOneColor", "Segoe UI Emoji", "Noto Color Emoji", "Twemoji Awesome", "Apple Color Emoji" !important;
}


.bg-primario, .btn-primario {
    background: var(--primario) !important;
    color: white !important;
}
.btn-redondo {
    border-radius: 50% !important;
    padding: 0 !important;
    height: var(--tamanio) !important;
    width: var(--tamanio) !important;
    text-align: center !important;
}
.label-person-form, .label-person-form-small {
    color: gray;
}
.label-person-form, .label-person-form-small, .input-person-form {
    font-family: sans-serif;
}
.label-person-form-small {
    font-size: 8pt;
}
.input-person-form {
    border: none;
    border-bottom: 3px ridge #ffffff00;
    border-radius: 1ch;
    padding: 0ch 0.5ch;
    outline: none !important;
}
.input-person-form:hover {
    border-bottom: 3px inset var(--primario) !important;
}
.input-person-form:active, .input-person-form:focus {
    border-bottom: 3px outset var(--primario) !important;
}
.person-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.lang-picker-button {
    background: white !important;
    color: var(--bs-black) !important;
}
.lang-picker-button:focus {
    color: var(--bs-black) !important;
}
.lang-picker-button:hover {
    background: var(--bs-red) !important;
    color: white !important;
}
#language-dropdown-menu li:hover {
    background: lightgray !important;
    color: white !important;
}
#language-dropdown-menu li a:hover {
    background: var(--bs-red) !important;
    color: white !important;
}
#form-prompt-modal-button {
    opacity: 0% !important;
    filter: opacity(0);
    visibility: hidden !important;
    width: 1px;
    height: 1px;
    position: absolute;
}